:root{
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104,104,104,0.8)
}


h1{
    font-size: 200px;
    font-family: 'Dancing Script', cursive;
}
    html{
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        color:var(--dark);
    }
    
    body{
        margin:0;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size:17px;
        line-height:1.6;
        background-image: url(images/foodie.jpg);
        background-size:cover;
        background-position:center;
        height:100%;
      
        margin:30px 50px;
        line-height: 1.4;   
    }

.boxes{
    display: grid;
    grid-gap:20px;
    grid-template-columns: 1fr;
}

    .beginning{
        color: white;
        height:100vh;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        text-align:center;
        padding:0 20px;
      }

    img{width: 100%;}

    .main-na ul{
        background: white;
        display: grid;
        grid-gap: 20px;
        padding: 0;
        list-style: none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .main-na a{
    
        display: block;
        text-decoration: none;
        padding: 0.8rem;
        text-align: center;
        color:#926239;
        text-transform: uppercase;
        box-shadow: var(--sh);
    }
    
    .main-na a:hover{
        background: rgb(223, 210, 210);
        color: rgb(170, 160, 160);
    }

    .info{
        margin:auto;
        background: var(--primary);
        box-shadow: var(--shadow);
        display: grid;
        grid-gap: 30px;
        width: 70%;
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem;
        text-align: center;
    }

    @media(max-width: 700px){
        .info{
            grid-template-columns: 1fr;
            display: block;
            text-align: center;
        }
    }

    @media(min-width: 2000px){
        img{
            width: 886px;
            height: 589.047px;
            align-items:right;
            text-align: right;
        }
        .info{
        display: flex;
        }
    }

    .center{
        margin:auto;
        text-align: center;
        color:white
    }